<div class="container">
    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6 topRatedCol">
            <h1 class="topRatedTitle">Top Rated Fortunes</h1>
            {% for item in bestEntities %}
                {{ include('default/fortune.html.twig') }}
            {% endfor %}
        </div>

        <div class="col-md-3"></div>

    </div>
</div>
