<div class="header">
	<a href="{{ path('homepage') }}" class="titleLink">
		<h1 class="title">Fortunes</h1>
	</a>
	<div class="submenu">
		<a href="{{ path('createFortune') }}">Create</a>
		<span> | </span>
		<a href="{{ path('moderate') }}">Moderate</a>
	</div>
</div>