body {
	font-family: 'Lato', sans-serif;
}

.title, .topRatedTitle {
	margin: 70px 0 60px 0;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 66px;
}

	.topRatedTitle {
		margin: 40px 0 40px 0;
		font-family: 'Lato', sans-serif;
		font-size: 46px;
	}

.card {
	padding: 35px 0;
	font-family: 'Merriweather', serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	color: #474747;
}

.quote {
	text-align: justify;
}

.vote, .comment {
	text-align: right;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}

	.upvote {
		color: #00C200;
	}

	.downvote {
		color: #DC3A3A;
	}

.topRatedCol {
	box-shadow: 0 0px 2px rgba(0,0,0,0.15),0 0 1px rgba(0,0,0,0.15);
	border-radius: 3px;
	padding: 0 25px;
	margin-bottom: 50px;
	background-color: rgba(245, 245, 245, 0.43);
}

.container.uniqueFortune {
	margin-top: 80px;
	margin-bottom: 80px;
}

.containerPagination {
	text-align: center;
}

.mainBody {
	margin-bottom: 50px;
}